:root {
    --fuentePrincipal: 'Playfair Display', serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
    --azulClaro: #037bc0;
    --gris: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/

h1, h2, h3 {
    font-family: var(--fuentePrincipal);
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;

}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    /* background-color: orange; */
    max-width: 120rem;
    margin: 0 auto;
}

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
    /* background-color: aqua; */
}

.nombre-sitio span {
    color: var(--azulClaro);
}

.contenedor-navegacion {
    border-color: var(--gris);
    border-top-style: solid;
    border-width: .1rem;
}
.nav-principal{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0rem 2rem 0rem;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
}

/* Catergorias */

.listado-categorias h2 {
    text-align: center;
    padding-top: 5rem;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
}

.categorias a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
}

.categorias a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* Sobre-Nosotros */
.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
    padding: 10rem 0 10rem 0;
    background-repeat: no-repeat;
    background-size: 100% 102rem;
}

.sobre-nosotros-flex {
    display: flex;
    justify-content: flex-end;
}
.texto-nosotros {
    color: #ffffff;
    flex-basis: 50%;
    padding-left: 10rem;
}

.nuestro-producto h2 {
    text-align: center;
    margin-top: 2rem;
}

/* .nuestro-producto {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.nuestro-producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 72;
} */

.titulo-producto {
    text-align: center;

}

.listado-productos {
    padding-top: 5rem;
}

.producto-orden {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    /* gap: 2rem; */
}

.nuestro-producto {
    background-color: #037bc0;
}

.nuestro-producto:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.nuestro-producto:nth-child(1) img {
    height: 48rem;
    width: 100%;
    object-fit: cover;
}

.nuestro-producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.nuestro-producto:nth-child(2) img,
.nuestro-producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.nuestro-producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}


.nuestro-producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}


.nuestro-producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}


.nuestro-producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 0.5rem 0;
}
.texto-producto {
    text-align: center;
    color: #ffffff;
    padding: 2rem;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.texto-producto a {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    background-color:  #8cbc00;
    padding: 1rem;
    transition: background-color .3s ease-out;
    
}

.texto-producto a:hover {
    background-color: #769c02;
}

.footer-border {
    border-top-style: solid;
    border-color: var(--gris);
    border-width: .1rem;
    margin-top: 5rem;
}

.categorias-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navegacion-footer {
    display: grid;
}

.nav-footer a {
    display: block;
}

.copyright {
    text-align: center;
    margin-top: 5rem;
}